<main class="main">
  <h1 class="title">
    {{ title }}
  </h1>
  <div class="submit-box">
    <div class="action">
      <p class="instruction">Enter new task</p>
      <input type="text" class="task-input" [(ngModel)]="newTask"/>
    </div>
    <div class="send-box">
      <button class="send" (click)="addTask()">Submit</button>
    </div>
   
    <div class="tasks">      
      <ul>
        <!-- Reemplazamos el uso de <app-task> para incluir el checkbox -->
        <li *ngFor="let task of tasks; let i = index" class="task-item">
          <input 
            type="checkbox" 
            [checked]="task.completed" 
            (change)="toggleTask(i)"
          />
          <span [class.completed]="task.completed">{{ task.name }}</span>
        </li>
      </ul>
    </div>

    <button class="clear" (click)="clear()">
      Clear Completed
    </button>    
  </div>
</main>